{% extends "homebase.html" %}
{% block title %}Hakkimizda-{{ setting.company }}{% endblock %}
{% block keywords %}{{ setting.keywords}}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}
{% block sidebar %}
{% load static %}
{% load mptt_tags %}
<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3" style="padding:0;">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Kurumsal</span>
                    </div>
                    <nav class="header__menu" align="center">
                        <ul class="header__menu__dropdown" style="text-align:left;">
                            {% recursetree category %}
                            <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a>
                                {% if not node.is_leaf_node %}
                                <ul style="top:0;left:170px;" class="header__menu__dropdown">
                                    <li> {{ children }}</li>
                                    <style>
                                        .header__menu ul li .header__menu__dropdown li:hover>a {
                                            color: lightgreen;
                                        }
                                    </style>
                                </ul>
                                {% endif %}
                            </li>
                            {% endrecursetree %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-9">

                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="/search/" method="post">
                            <input id="query" name="query" class="input search-input" type="text"
                                placeholder="Enter your keyword">
                            {% csrf_token %}
                            <script>
                                $(function () {
                                    $("#query").autocomplete({
                                        source: "/search_auto/",
                                        select: function (event, ui) { //item selected
                                            AutoCompleteSelectHandler(event, ui)
                                        },
                                        minLength: 2,
                                    });
                                });

                                function AutoCompleteSelectHandler(event, ui) {
                                    var selectedObj = ui.item;
                                }
                            </script>

                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/kurumsalbg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Hakkimizda</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Anasayfa</a>
                        <span>Hakkimizda</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<hr>
<!-- Breadcrumb Section End -->
<div class="container">
    <div class="row">
        {{ setting.about|safe }}
    </div>
</div>
</div>
</section>
<!-- Hero Section End -->

{% endblock %}