{% load static %}
{% load mptt_tags %}
{% block head %}
<style>
    a:hover {
        color: #640000;
    }
</style>
{% endblock %}
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> kurumsal@gmail.com</li>
                            <li>Kurumsal    Sitemize Hos Geldiniz</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="https://www.facebook.com/turkishaerospace/"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/gulmiraerbekk/"><i class="fa fa-instagram"></i></a>
                            <a href="https://twitter.com/TUSAS_TR"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.youtube.com/channel/UC4A34yFloIv5dFUC3ogXHgQ"><i class="fa fa-youtube"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="{% static 'img/turkey.png' %}" alt="">
                            <div>Türkçe</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">English</a></li>
                                <li><a href="#">Türkçe</a></li>
                            </ul>
                        </div>
                        <div class="header__top__right__auth">
                            {% if user.id is not None %}
                            <div>
                                <strong><img src="{{ request.user.profile.image.url }}"> {{ user.username }} </strong>
                            </div>
                            <div class="header__top__right__language">
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="/user/">My Account</a></li>
                                    <li><a href="/user/comments">Comments</a></li>
                                    <li><a href="/user/contents">Contents</a></li>
                                    <li><a href="/logout/">LogOut</a></li>
                                </ul>
                            </div>
                            {% else %}
                            <div>
                                <nav class="header__menu" align="center">
                                    <ul>
                                        <li><a href="/login/"><i class="fa fa-user"></i>Login</a>
                                         <li><a href="/signup/"><i class="fa fa-user"></i>Sign Up</a></li>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="humberger__menu__logo" align="center">
                    <a href="/"> <img src="{% static 'img/kurumsal_logo.jpg' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-8">
                <nav class="header__menu" align="center">
                    <ul>
                        <li class="active"><a href="/">Anasayfa</a></li>
                        <li><a href="/hakkimizda">Hakkımızda</a></li>
                        <li><a href="/sss">Sorular</a>
                            {% comment %} <ul class="header__menu__dropdown">
                                <li><a href="./shop-details.html">Shop Details</a></li>
                                <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                <li><a href="./checkout.html">Check Out</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li>
                            </ul> {% endcomment %}
                        </li>
                        <li><a href="/referanslar">Referanslar</a></li>
                        <li><a href="/iletisim">İLETİŞİM</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->